.vscode/**
src/**
node_modules/**
build.js
package.ps1
tsconfig.json
smoke.ts
test.ts
test/**
tool/**
HANDOVER-*.md
package-lock.json
**/*.map
**/*.log
*.vsix
out/test.js
out/smoke.js
.gitignore
*.psd
